td {
  font-size: 100px;
  text-align: center;
  width: 200px;
  height: 200px;
}

table {
    max-width: 600px;
    margin: 0 auto
}

#tablecon {

   pointer-events: none;
}

#xbtn {
  background-color: #F1F7F8;
  border-color: black;
}

#obtn {
  background-color: #0F050D;
}

#restartb {
  background-color: #DC2F02;
  color: #03071E;
}

#gameStatus {

}
